# Go build artifacts
/bin/
/dist/
/*.exe
*.test
*.out


# Dependency directories (remove the ones you don't use)
vendor/

# IDE/editor folders
.vscode/
.cursor/
.idea/
*.swp

# OS generated
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env
.env.*
.envrc

# Docker
*.pid
docker-compose.override.yml